@using Restaurante.Model.DTOs;
@using Restaurante.Data.DBModels;
@using System.Text.Json;
@model Categoria
@{
    ViewBag.Title = "Formulario Categoria";
}
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h3 class="page-title">Categorias</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item" aria-current="page">Listado de categorias</li>
                        <li class="breadcrumb-item active" aria-current="page">Categorias</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header with-border">
                    @if (Model.Id != 0)
                    {
                        <img width="70" src="~/images/categorias/@Model.RutaImagen" />
                        <h4 class="box-title">Edición de categoria '@Model.Nombre'</h4>
                    }
                    else
                    {
                        <h4 class="box-title">Creación de nueva categoría</h4>
                    }
                </div>
                <div class="box-body">
                    <form action="CrearCategoria" id="formProducto">
                        <input id="Id" name="Id" value="@Model.Id" type="hidden" />
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="fw-700 fs-16 form-label">Nombre del categoria</label>
                                        <input type="text" class="form-control" placeholder="Nombre del categoria" value="@Model.Nombre" name="Nombre" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="fw-700 fs-16 form-label">Imagen</label>
                                        <select name="RutaImagen" class="form-select">
                                            <option selected disabled value="0">Selecciona un tipo de imagen</option>
                                            @if (Model.RutaImagen == "breads.jpg")
                                            {
                                                <option selected value="breads.jpg">Rolls</option>
                                            }
                                            else
                                            {
                                                <option value="breads.jpg">Rolls</option>
                                            }
                                            @if (Model.RutaImagen == "starters.jpg")
                                            {
                                                <option selected value="starters.jpg">Comida</option>
                                            }
                                            else
                                            {
                                                <option value="starters.jpg">Comida</option>
                                            }
                                            @if (Model.RutaImagen == "mocktails.jpg")
                                            {
                                                <option selected value="mocktails.jpg">Coctalis</option>
                                            }
                                            else
                                            {
                                                <option value="mocktails.jpg">Coctalis</option>
                                            }
                                            @if (Model.RutaImagen == "mocktails.jpg")
                                            {
                                                <option selected value="mocktails.jpg">Café</option>
                                            }
                                            else
                                            {
                                                <option value="mocktails.jpg">Café</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="fw-700 fs-16 form-label">Descripción de categoria</label>
                                        <textarea class="form-control p-15" rows="2" name="Descripcion" id="Descripcion">@Model.Descripcion</textarea>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <div class="form-actions mt-10">
                            <a href="/Categoria/Categorias" class="btn btn-danger">Cancelar</a>
                            <a id="idBtnProducto" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

@section scripts
{
    @*<script src="../Scripts/Categorias.js"></script>*@

    <script>
        //Envia a guardar formulario
        $("#idBtnProducto").click(function (event) {
            event.stopPropagation();
            event.preventDefault();

            let id = document.getElementById("Id").value;
            let $form = $('#formProducto');
            let valid = $form.parsley().validate();
            let url = id == "0" ? "CreateCategoria" : "EditCategoria";

            if (!valid) {
                return false;
            }
            //var list = $('#complementos').val().join(',');
            var formData = $form.serialize();
            //var formData = $form.serialize() + "&ComplementosSelect=[" + list + "]";
            //console.log(formData);

            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    if (data.responseCode == 200) {
                        swal({ title: 'Éxito', text: data.message, type: "success", },
                            function (isConfirm) { if (isConfirm) { window.location.href = "/Categoria/Categorias"; } });
                    } else {
                        swal({ title: "Error", text: data.message, icon: "error" });
                    }
                }, error: function (err) {
                    swal({ title: "Error Inesperado", text: err.responseText, icon: "error" });
                }
            }).done(function (data) {
                //AlertExpiration(data);
            });
        });
    </script>
}