@{
    ViewBag.Title = "Acceso Denegado";
    Layout = null;
}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/images/favicon.png">
    <title>Acceso Denegado</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/Content/assets/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <![endif]-->
</head>

<body class="fix-header card-no-border">
    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <h1 style="color: white">¡ACCESO DENEGADO!</h1>
                <h3 style="color: darkred" class="text-uppercase"><strong>TU SESION HA EXPIRADO O NO TIENES PERMISO DE REALIZAR ESTA ACCION.</strong></h3>
                <a style="color: white" href="../../" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40"><i class="fa fa-backward"></i> Regresar a Inicio</a>
            </div>
            <footer style="color: white" class="footer text-center">© 2020 Las Paseras.</footer>
        </div>
    </section>
    <script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/assets/js/waves.js"></script>
</body>

</html>