@using System.Text.Json;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewBag.Title = "Inicio";
    var usuario = JsonSerializer.Deserialize<UsuarioDTO>(HttpContextAccessor.HttpContext.Session.GetString("UserSession"));
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h3 class="page-title">Dashboard</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
</div>

@section scripts
    {
    @*<script src="~/Content/plugins/webspeechdemo/VozSpeech.js"></script>*@
    @*<script src="~/Content/Scripts/Dashboard.js"></script>*@
}