@using Restaurante.Model.DTOs;
@model List<UsuarioDTO>
@{
    ViewBag.Title = "Staff";
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">STAFF LAS PASERAS</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
            <li class="breadcrumb-item active">Staff</li>
        </ol>
    </div>
</div>

<div class="container-fluid">
    <div class="row el-element-overlay">
        <div class="col-md-12">
            <h4 class="card-title">Listado de Staff</h4>
            <h6 class="card-subtitle m-b-20 text-muted">Selecciona un elemento para ver detalles</h6>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1">
                            <img src="~/Content/img/faces/@item.rutaFoto" alt="user" />
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <li><a class="btn default btn-outline image-popup-vertical-fit" href="~/Content/img/faces/@item.rutaFoto"><i class="icon-magnifier"></i></a></li>
                                    <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h3 class="box-title">@item.nombre @item.apellido</h3> <small>@item.Roles.rol</small>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script src="~/Content/Scripts/Ususario.js"></script>
}