@using Restaurante.Model.DTOs;
@using Restaurante.Data.DBModels;
@using System.Text.Json;
@model List<Mesa>
@{
    ViewBag.Title = "Mesas";
}

<br />
<div class="box">
    <div class="box-body p-0">
        <div class="flexbox align-items-center p-15">
            <div class="flexbox align-items-center">
                <div class="d-inline-block" style="float: right">
                    <a href="FormMesa?id=0" class="btn btn-success btn-round checkbox-toggle"><i class="ion ion-plus"></i> Nueva Mesa</a>
                </div>
            </div>
            <div>
                <div class="lookup lookup-circle lookup-right">
                    <input type="text" data-provide="media-search">
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Count > 0)
{
    <section class="content">
        <div class="row">
            @foreach (var obj in Model)
            {
                <div class="col-4 col-xl-3">
                    <div class="box bg-danger bg-temple-dark">
                        <div class="box-header no-border">
                            <h4><i class="fa fa-map text-white"></i></h4>
                            <ul class="box-controls pull-right">
                                <li><a class="box-btn-close text-white" href="javascript:EliminarMesa(@obj.Id);"></a></li>
                            </ul>
                        </div>
                        <div class="box-body mt-90">
                            @if (obj.Ocupada.Value == false)
                            {
                                <span class="badge badge-success">Libre</span>
                            }
                            else
                            {
                                <span class="badge badge-warning">Ocupada</span>
                            }
                            <a href="FormMesa?id=@obj.Id" style="color:white"><h2 class="fw-200 mb-0">@obj.TipoLugar</h2></a>
                            <p>@obj.Descripcion</p>
                        </div>
                    </div>
                </div>
            }
            @*<div class="grid-stack-item" data-gs-x="8" data-gs-y="0" data-gs-width="2" data-gs-height="2" data-gs-min-width="2" data-gs-no-resize="yes">
                    <div class="grid-stack-item-content"> <span class="fa fa-hand-o-up"></span> @obj.TipoLugar #@obj.Id </div>
                </div>*@
            @*<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="2">
                    <div class="grid-stack-item-content">1</div>
                </div>*@
        </div>
    </section>
}
else
{
    <div class="col-xl-6">
        <div class="box">
            <div class="box-body d-flex p-0">
                <div class="flex-grow-1 bg-gradient-secondary-dark p-30 flex-grow-1 bg-img" style="background-position: calc(100% + 0.5rem) bottom; background-size: auto 100%; background-image: url(../images/svg-icon/color-svg/custom-13.svg)">
                    <h4 class="fw-500">Aún no hay mesas.</h4>
                    <p class="my-10 fs-16">
                        Selecciona el botón "Nueva Mesa"<br /> y empieza a capturar.
                    </p>
                    @*<a href="#" class="btn btn-danger-light">Read More</a>*@
                </div>
            </div>
        </div>
    </div>
}

@section scripts
        {
    @*
        <script src="~/ViewAjax/ProductoFunction.js"></script>*@
    <script>
        //Eliminar elemento
        function EliminarMesa(id) {
            swal({
                title: '¿Esta seguro de eliminarlo?',
                text: 'El registro se eliminará permanentemente.',
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn btn-danger",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: 'DeleteMesa',
                            type: "POST",
                            data: { 'id': id },
                            success: function (data) {
                                if (data.objectResponse) {
                                    swal({ title: 'Éxito', text: data.message, type: "success", },
                                        function (isConfirm) { if (isConfirm) { location.reload(true); } });
                                } else {
                                    swal({ title: 'Error', text: data.message, type: "eroor", },
                                        function (isConfirm) { if (isConfirm) { location.reload(true); } });
                                }
                            },
                            error: function (err) {
                                swal({ title: 'Error Inesperado', text: data.message, type: "eroor", },
                                    function (isConfirm) { if (isConfirm) { location.reload(true); } });
                            }
                        }).done(function (data) {
                            //AlertExpiration(data);
                        });
                    } else {
                        location.reload(true);
                    }
                });
        }
    </script>
}
